<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Airline - Home</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="#">Navbar</a>
      <p class="welcome-user">Welcome, <%= user_info.name %> </p>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <div class="container">

    <div class="trips-row row">

      <div class="trips-left-col col-md-6">
        <h4>Upcoming Trips</h4>
        <div class="single-upcoming-trip">
          <h5>Description</h5>
          <h5>Flight</h5>
        </div>
      </div>
      <div class="trips-right-col col-md-6">
        <h4>Create a trip</h4>
        <form action="/trips/add_trips" method="post">
          <select class="" name="flight_id">
            <% for (let i = 0; i < flight.length; i++) { %>
            <option value="<%= flight[i].id %>">
              <%= flight[i].start %> to <%= flight[i].dest %>
            </option>
            <% } %>

          </select>
          <p><button class="btn" type="submit">Create Trip</button></p>
        </form>
      </div>
    </div><!--end trips-row-->

  </div>
  <!--end container-->


  <!--begin scripts-->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script type="/index.js"></script>
</body>

</html>
